In [5]:
import pandas as pd
df = pd.DataFrame([
    ['1', 'Fares', 32, True],
    ['2', 'Elena', 23, False],
    ['3', 'Steven', 40, True]])
df.columns = ['id', 'name', 'age', 'decision']
print(df)

  id    name  age  decision
0  1   Fares   32      True
1  2   Elena   23     False
2  3  Steven   40      True

In [6]:
df[['name','age']]

     name  age
0   Fares   32
1   Elena   23
2  Steven   40

In [7]:
df.iloc[:,3]

0     True
1    False
2     True
Name: decision, dtype: bool

In [8]:
df.iloc[1:3,:]

  id    name  age  decision
1  2   Elena   23     False
2  3  Steven   40      True

In [9]:
df[df.age>30]

  id    name  age  decision
0  1   Fares   32      True
2  3  Steven   40      True